* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 500;
  scroll-behavior: smooth;
}
body {
  background-color: #f9f5f6;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.preview-card {
  background-color: white;
  border-radius: 1rem;
  max-width: 55rem;
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem 0rem 3rem;
}

.preview-card .text h1 {
  font-size: 3rem;
  line-height: 1;
}

.preview-card > .img > img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  max-height: 42rem;
  display: block;
}

.preview-card .text a {
  display: inline-block;
  text-decoration: none;
  background-color: #ffeae3;
  padding: 1.4rem 5.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  margin: 1rem 0rem;
  text-align: center;
}

main .preview-card .text a:first-of-type {
  margin-top: 4rem;
}

.preview-card a:hover {
  background-color: #fff;
}

@media (max-width: 865px) {
  .preview-card {
    max-width: 22rem;
    flex-direction: column;
    border-radius: 0.5em;
  }

  .preview-card .img img {
    display: inline-block;
    max-width: 22rem;
    border-radius: 0%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .preview-card .text {
    padding: 1.8rem 2rem;
  }

  .preview-card .text .price {
    margin-bottom: 1rem;
  }

  .preview-card .text h1 {
    font-size: 2rem;
  }

  .preview-card .text p:first-of-type {
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .preview-card .text p:last-of-type {
    font-size: 14px;
    margin: 1rem 0rem;
  }

  .preview-card .price ins {
    font-size: 2rem;
  }

  .preview-card .price del {
    font-size: 1rem;
  }

  .preview-card .text a {
    padding: 1rem 3rem 1rem 2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.5rem;
  }
}
